<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tambah Jadwal</title>
    <style>
    .open-btn {
      background-color: #2563eb;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      font-size: 16px;
    }
    .open-btn:hover {
      background-color: #1e40af;
    }
  </style>
</head>
<body>
     <button class="open-btn" onclick="showModal()">Tambahkan Jadwal</button>

    {% include 'modal.html' %}

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const form = document.getElementById("form-jadwal");

        form.addEventListener("submit", function (event) {
          event.preventDefault(); // Mencegah reload halaman
          alert("Jadwal berhasil ditambahkan!");
          closeModal(); // Tutup modal
          form.reset(); // Kosongkan form
        });
      });
    </script>
</body>
</html>
